/* samsung galaxy s5 */

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {


body {
	margin: 0;
}
.content {

}

header {
	display: flex;
	flex-direction: row;
	background-color: #3a78ad;
	width: 100vw;
	height: 8vh;
	justify-content: center;
	box-shadow: 0px 1px 15px 0px #1c2024;
}

h1 {
	text-align: center;
	font-family: sans-serif;
	color: white;
	font-weight: bold;
	margin: auto;
}

#roblox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	height: 92vh;	
}

.account_icon {
	margin-top: 25px;
	margin-left: 133px;
	width: 96px;
	height: 96px;
}

#bar1 {
	margin-top: 45px;
	margin-left: 53px;
	background-color: #3a78ad;
	width: 250px;
	height: 50px;
	box-shadow: 0px 1px 7px 0px #1c2024;
}

#bar2 {
	margin-left: 53px;
	margin-top: 25px;
	background-color: #3a78ad;
	width: 250px;
	height: 50px;
	box-shadow: 0px 1px 7px 0px #1c2024;
}

#loginbutton {
	width: 100px;
	height: 45px;
	background-color: #3a78ad;
	margin-left: 128px;
	margin-top: 15px;
	box-shadow: 0px 1px 7px 0px #1c2024;
}

a {
	margin-left: 25px;
	margin-top: 13px;
	display: flex;
	flex-direction: row;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	text-decoration: none;

}
a:hover {
	color: #1c2024;
}

input {
	width: 250px;
	height: 50px;
	border: none;

}
}



/* COMPUTER */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

body {
	margin: 0;
}
.content {

}

header {
	display: flex;
	flex-direction: row;
	background-color: #3a78ad;
	width: 100vw;
	height: 12vh;
	justify-content: center;
	box-shadow: 0px 1px 7px 0px #1c2024;

}

h1 {
	text-align: center;
	font-family: sans-serif;
	color: white;
	font-weight: bold;
	margin: auto;
}

#roblox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	height: 88vh;	
}

.account_icon {
	margin-top: 100px;
	margin-left: 45vw;
	width: 130px;
	height: 130px;
}

#bar1 {
	margin-top: 50px;
	margin-left: 35vw;
	width: 450px;
	height: 50px;
	box-shadow: 0px 1px 7px 0px #1c2024;
}

#bar2 {
	margin-top: 50px;
	margin-left: 35vw;
	width: 450px;
	height: 50px;
	box-shadow: 0px 1px 7px 0px #1c2024;
}

#loginbutton {
	margin-top: 100px;
	margin-left: 44.5vw; 
	width: 150px;
	height: 45px;
	background-color: #3a78ad;
	box-shadow: 0px 1px 7px 0px #1c2024;
}

a {
	margin-top: 13px;
	margin-left: 50px;
	display: flex;
	flex-direction: row;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	text-decoration: none;

}
a:hover {
	color: #1c2024;
}

input {
	width: 447px;
	height: 44px;
}

input[type="text"]{
	font-size: 24px;
}
}

